* {
  font-family: "Schoolbell", "Gamja Flower", "Playpen Sans", cursive, sans-serif;
}

button,
input[type="reset"],
input[type="submit"] {
  font-family: "Playpen Sans", cursive, sans-serif;
  background-color: white;
  border-radius: 5px;
  padding: 2px 10px;
}
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

#mainSectionDiv {
  margin-left: auto;
  margin-right: auto;
}

#timetableHeader {
  text-align: center;
}

#addCourseBtn {
  margin-left: 80%;
  margin-bottom: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
