* {
  font-family: "Schoolbell", "Gamja Flower", "Playpen Sans", cursive, sans-serif;
}

button,
input[type="reset"],
input[type="submit"] {
  font-family: "Playpen Sans", cursive, sans-serif;
  background-color: white;
  border-radius: 5px;
  padding: 2px 10px;
  margin: 10px 5px;
}

button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

table {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
fieldset {
  margin-top: 20px;
}

legend {
  padding: 0px 8px;
}

#mainSectionDiv {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#timetableHeader {
  text-align: center;
}

#addCourseBtn {
  margin-left: 80%;
  margin-bottom: 20px;
}

#courseForm {
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
}

.scheduleSets {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
}

.inputGroupDivs {
  margin: 10px 0px;
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 4%;
}

.inputDivs {
  display: grid;
  grid-template-columns: auto 65%;
}

#addScheduleBtn {
  margin: 0px 0px 5px 80%;
}

.deleteScheduleBtns {
  margin: 5px 0px 5px 78%;
}

#submitBtn {
  font-weight: bold;
  margin-top: 30px;
  margin-left: 75%;
}
