* {
  font-family: "Schoolbell", "Gamja Flower", "Playpen Sans", cursive, sans-serif;
}

#timetableHeader {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

table,
tr,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}
